<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Blackjack</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" 
          href="../../css/gtvg.css" th:href="@{/style.css}" />
</head>
<body>
	<p>Current number of players: <span th:text="${blackjack.playerManager.size}">100</span></p>
    <p th:switch="${status}">Status: 
    	<span th:case="'waiting'">Waiting for another player to go</span>
    	<span th:case="go">It is your turn</span>
    	<span th:case="*">Unknown status</span>
    </p>
    
    <div th:id="action-buttons" th:if="${status} == 'waiting'">
    	<form>
	    	<input type="button" onclick="history.go(0)" th:value="Refresh"/>
    	</form>
    </div>
    
    <div th:id="action-buttons" th:if="${status} == 'go'">
    	<form th:action="@{hit}" method="post">
    		<input th:type="hidden" th:name="id" th:value="${id}"/>
			<input type="submit" th:value="Hit"/>
		</form>
    	
    	<form th:action="@{stay}" method="post">
    		<input th:type="hidden" th:name="id" th:value="${id}"/>
			<input type="submit" th:value="Stay"/>
		</form>
    </div>
        
    <p>Your Cards: <span th:text="${player.cardTotal}"></span> 
    	<span th:if="${player.bust}">Bust</span></p>
    <div th:each="card : ${player.cards}" id="player-cards">
    	<div class="card">
			<span th:text="${card.rank}">card rank</span><br/>
			<span th:text="${card.suit}">card suit</span>
		</div>
    </div>
    
    <p>Other player's cards</p>
	<div th:each="p : ${blackjack.playerManager.allPlayers}">
		<div th:each="card : ${p.publicCards}" id="player-cards" th:unless="${player == p}">
	    	<div class="card">
	    		<span th:text="${card.rank}">card rank</span><br/>
				<span th:text="${card.suit}">card suit</span>
			</div>
		</div>
    </div>
</body>
</html>