<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Blackjack</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" 
          href="../../css/gtvg.css" th:href="@{/style.css}" />
</head>
<body>
	<p>Current number of players: <span id="numPlayers" th:text="${blackjack.playerManager.size}">100</span></p>
    
    <div th:id="action-buttons" th:if="${status} == 'waiting'">
    	<form>
	    	<input id="refresh-button" type="button" onclick="history.go(0)" th:value="Refresh"/>
    	</form>
    	<form th:action="@{end-game}" method="post" th:if="${gameOver}">
    			<input th:type="hidden" th:name="id" th:value="${id}" />
    			<input  id="new-game-button" type="submit" th:value="'New Game'" />
    	</form>
    	<form th:action="@{start-game}" method="post" th:if="${newGame}">
    			<input th:type="hidden" th:name="id" th:value="${id}" />
    			<input id="start-game-button" type="submit" th:value="'Start Game'" />
    	</form>
    </div>
    	<div th:id="action-buttons" th:if="${status} == 'go' and ${gameInProgress}">
    		<form th:action="@{hit}" method="post">
    			<input th:type="hidden" th:name="id" th:value="${id}" />
    			<input id="hit-button" type="submit" th:value="Hit" />
    		</form>

    		<form th:action="@{stay}" method="post">
    			<input th:type="hidden" th:name="id" th:value="${id}" />
    			<input id="stay-button" type="submit" th:value="Stay" />
    		</form>
    	</div>

    <p th:switch="${status}" th:if="${gameInProgress}">Status: 
    	<span th:case="'waiting'">Waiting for another player to go</span>
    	<span th:case="go">It is your turn</span>
    	<span th:case="*">Unknown status</span>
    </p>
    
    <div id="player-section" th:if="${gameOver} or ${gameInProgress}">
    	<p>
    		Your card total:
    		<span id="yourCardTotal" th:text="${player.cardTotal}"></span>
    		<span id="bust" th:if="${player.bust}">Bust</span>
    		<span id="winner" th:if="${gameOver} and ${player.winner} ">Winner</span>
			<span id="loser" th:if="${gameOver} and not ${player.winner}">Loser</span>
    	</p>
    	
    	<div th:each="card : ${player.cards}" class="player-cards">
    		<div class="card">
    			<span class="rank" th:text="${card.rank}">card rank</span>
    			<br />
    			<span class="suit" th:text="${card.suit}">card suit</span>
    		</div>
    	</div>
    </div>

    <div th:if="${blackjack.playerManager.size > 1}">
    	<div th:unless="${gameOver}">


    		<p>Other player's cards</p>
    		<div th:each="p : ${blackjack.playerManager.allPlayers}"
    			th:unless="${player == p}" class="player-info">
    			<div th:each="card : ${p.publicCards}"
    				class="player-cards">
    				<div class="card">
    					<span class="rank" th:text="${card.rank}">
    						card rank
    					</span>
    					<br />
    					<span class="suit" th:text="${card.suit}">
    						card suit
    					</span>
    				</div>
    			</div>
    		</div>
    	</div>
    	<div th:if="${gameOver}">
    		<p>Other player's cards</p>
    		<div th:each="p : ${blackjack.playerManager.allPlayers}"
    			th:unless="${player == p}" class="player-info">
    			<p>
    				Card total:
    				<span th:text="${p.cardTotal}"></span>
    				<span th:if="${p.bust}">Bust</span>
    				<span th:if="${p.winner}">Winner</span>
    				<span th:unless="${p.winner}">Loser</span>
    			</p>
    			<div th:each="card : ${p.cards}" class="player-cards">
    				<div class="card">
    					<span class="rank" th:text="${card.rank}">
    						card rank
    					</span>
    					<br />
    					<span class="suit" th:text="${card.suit}">
    						card suit
    					</span>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
</body>
</html>